<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">ViewSendNotification</h4>
            </div>
            <div class="modal-body">

                <div ng-hide="pageList.length> 0">
                    <div class="fb-login-button" data-max-rows="1" data-size="large"
                         data-button-type="continue_with" data-show-faces="false"
                         data-auto-logout-link="true" data-use-continue-as="false"
                         data-scope="manage_pages,pages_messaging"
                    ></div>
                </div>
            </div>

        </div>
    </div>
</div>