<div class="app animated fadeIn">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card" style="margin-top: 20px;" ng-hide="pageData.id">
                <hr class="transparent mx-1 my-0">
                <div class="callout callout-primary m-0 py-1">


                    <div class="noti">
                        <h4>{{L('Connect to your Facebook Page','Kết nối Facebook Page')}}</h4>
                    </div>
                    <small class="text-muted">
                        {{L('We’ll need permissions to manage your Page’s messages in order to make bot active.','Bạn
                        cần cung cấp đầy đủ quyền yêu cầu thì Bot mới hoạt động được.')}}
                    </small>
                    <div class="spinner" ng-if="loading">
                        <div class="cube1"></div>
                        <div class="cube2"></div>
                    </div>

                    <div class="card-block" ng-hide="pageList.length > 0">
                        <div>
                            <button ng-click="loginFB()" class="button btn btn-facebook btn-block">Đăng nhập bằng
                                Facebook
                            </button>
                        </div>
                    </div>


                    <div ng-repeat="card in pageList" class="card-joblist" ng-hide="viewLink.length > 0 || loading">

                        <div class="message p-h">
                            <div class="float-right">
                                <button ng-click="buildBot(card)" class="btn btn-primary">Connect</button>
                            </div>
                            <div><strong>{{card.name}}</strong></div>

                        </div>
                    </div>
                    <span style="font-size:12px" class="text button-tip">Don't have a Facebook Page? You can <a
                            style="font-size:12px" target="_blank" href="https://www.facebook.com/pages/create">create facebook page</a> on facebook.com</span>
                </div>
                <hr class="mx-1 my-0">
            </div>


        </div>
    </div>

</div>


