<form action="https://docs.google.com/forms/d/e/1FAIpQLSdMzsr-OOW-92qL3zWRdpNMN7a6-tUDsUPCaM-B_SWNt3v44A/formResponse"
      target="_self" method="POST" id="mG61Hd">
    <div class="freebirdFormviewerViewFormCard">
        <div class="freebirdFormviewerViewAccentBanner freebirdAccentBackground"></div>
        <div class="freebirdFormviewerViewFormContent ">
            <div class=freebirdFormviewerViewNoPadding>
                <div class="freebirdFormviewerViewHeaderHeader">
                    <div class="freebirdFormviewerViewHeaderTitleRow">
                        <div class="freebirdFormviewerViewHeaderTitle freebirdCustomFont" dir="auto"
                             role="heading" aria-level="1">Toong bot - Script - Viet ver (updated 5/1)
                        </div>
                    </div>
                    <div jsname="F0H8Yc" class="freebirdCommonViewSecurequizSecureQuizBannerContainer"></div>
                </div>
            </div>
            <div class=freebirdFormviewerViewItemList role="list">
                <div role="listitem" class="freebirdFormviewerViewItemsItemItem" jsname="ibnC6b"
                     jscontroller="RGrRJf" data-item-id="2067219866">
                    <div class="freebirdMaterialHeaderbannerLabelContainer freebirdFormviewerViewItemsSectionheaderBanner"
                         jsname="bLLMxc" role="heading">
                        <div class="freebirdMaterialHeaderbannerLabelTextContainer freebirdSolidBackground">
                            <div class="freebirdMaterialHeaderbannerSectionText freebirdFormviewerViewItemsSectionheaderBannerText freebirdCustomFont">
                                Chào {{full_name}}, cảm ơn đã liên hệ với Toong.
                            </div>
                        </div>
                        <div class="freebirdMaterialHeaderbannerSectionTriangleContainer">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 10 10"
                                 preserveAspectRatio="none" class="freebirdMaterialHeaderbannerSectionTriangle">
                                <polygon class="freebirdSolidFill" points="0,0 10,0 0,10"></polygon>
                            </svg>
                        </div>
                    </div>
                    <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage"
                         id="i.err.2067219866" role="alert"></div>
                </div>
                <div role="listitem" class="freebirdFormviewerViewItemsItemItem" jsname="ibnC6b"
                     jscontroller="jmDACb" jsaction="rcuQ6b:kzSVDc;JIbuQc:aj0Jcf,vwKRrd;" data-input="L9xHkb"
                     data-item-id="914380301">
                    <div class="freebirdFormviewerViewItemsItemItemHeader">
                        <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
                            <div class="freebirdFormviewerViewItemsItemItemTitle freebirdCustomFont" dir="auto"
                                 id="i3" role="heading" aria-level="2" aria-describedby="i.desc.914380301">
                                Không biết mình có thể giúp gì cho bạn ?
                            </div>
                            <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.914380301"
                                 dir="auto"></div>
                        </div>
                    </div>
                    <div role="listbox" aria-expanded="false"
                         class="quantumWizMenuPaperselectEl docssharedWizSelectPaperselectRoot freebirdFormviewerViewItemsSelectSelect freebirdThemedSelectDarkerDisabled"
                         jscontroller="YwHGTd"
                         jsaction="click:cOuCgd(LgbsSe); keydown:I481le; keypress:Kr2w4b; mousedown:UX7yZ(LgbsSe),npT2md(preventDefault=true); mouseup:lbsD7e(LgbsSe); mouseleave:JywGue; touchstart:p6p2H(LgbsSe); touchmove:FwuNnf; touchend:yfqBxc(LgbsSe|preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd(LgbsSe); focus:AHmuwe; blur:O22p3e;b5SvAb:TvD9Pc;"
                         jsshadow jsname="W85ice" aria-describedby="i.desc.914380301 i.err.914380301"
                         aria-labelledby="i3">
                        <div jsname="LgbsSe" role="presentation">
                            <div class="quantumWizMenuPaperselectOptionList" jsname="d9BH4c"
                                 role="presentation">
                                <div class="quantumWizMenuPaperselectOption freebirdThemedSelectOptionDarkerDisabled exportOption isSelected isPlaceholder"
                                     jsname="wQNmvb" jsaction="" data-value="" aria-selected="true"
                                     role="option" tabindex="0">
                                    <div class="quantumWizMenuPaperselectRipple exportInk"
                                         jsname="ksKsZd"></div>
                                    <content class="quantumWizMenuPaperselectContent exportContent">Chọn
                                    </content>
                                </div>
                                <div class="quantumWizMenuPaperselectOptionSeparator" role="presentation"></div>
                                <div class="quantumWizMenuPaperselectOption freebirdThemedSelectOptionDarkerDisabled exportOption"
                                     jsname="wQNmvb" jsaction="" data-value="Tìm hiểu gói dịch vụ"
                                     aria-selected="false" role="option" tabindex="-1">
                                    <div class="quantumWizMenuPaperselectRipple exportInk"
                                         jsname="ksKsZd"></div>
                                    <content class="quantumWizMenuPaperselectContent exportContent">Tìm hiểu gói
                                        dịch vụ
                                    </content>
                                </div>
                                <div class="quantumWizMenuPaperselectOption freebirdThemedSelectOptionDarkerDisabled exportOption"
                                     jsname="wQNmvb" jsaction="" data-value="Chat với tư vấn viên"
                                     aria-selected="false" role="option" tabindex="-1">
                                    <div class="quantumWizMenuPaperselectRipple exportInk"
                                         jsname="ksKsZd"></div>
                                    <content class="quantumWizMenuPaperselectContent exportContent">Chat với tư
                                        vấn viên
                                    </content>
                                </div>
                            </div>
                            <div class="quantumWizMenuPaperselectDropDown exportDropDown"
                                 role="presentation"></div>
                        </div>
                        <div class="exportSelectPopup quantumWizMenuPaperselectPopup"
                             jsaction="click:dPTK6c(wQNmvb); mousedown:uYU8jb(wQNmvb); mouseup:LVEdXd(wQNmvb); mouseover:nfXz1e(wQNmvb); touchstart:Rh2fre(wQNmvb); touchmove:hvFWtf(wQNmvb); touchend:MkF9r(wQNmvb|preventMouseEvents=true)"
                             role="presentation" jsname="V68bde" style="display:none;"></div>
                    </div>
                    <input type="hidden" name="entry.2011500357" jsname="L9xHkb">
                    <div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox"
                         jsname="R7fTud"></div>
                    <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage"
                         id="i.err.914380301" role="alert"></div>
                </div>
            </div>
            <div class="freebirdFormviewerViewNavigationNavControls" jscontroller="lSvzH"
                 jsaction="rcuQ6b:npT2md;JIbuQc:Gl574d(QR6bsb),V3upec(GeGHKb),HiUbje(M2UYVd),NPBnCf(OCpkoe);"
                 data-shuffle-seed="-7376538156226184112"
                 data-should-execute-invisible-captcha-challenge="false" data-is-receipt-checked="false">
                <div class="freebirdFormviewerViewNavigationButtonsAndProgress">
                    <div class="freebirdFormviewerViewNavigationButtons">
                        <div role="button"
                             class="quantumWizButtonPaperbuttonEl quantumWizButtonPaperbuttonFlat quantumWizButtonPaperbutton2El2 freebirdFormviewerViewNavigationNoSubmitButton"
                             jscontroller="VXdfxd"
                             jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue;touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd;focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;"
                             jsshadow jsname="OCpkoe" aria-disabled="false" tabindex="0">
                            <div class="quantumWizButtonPaperbuttonRipple exportInk" jsname="ksKsZd"></div>
                            <div class="quantumWizButtonPaperbuttonFocusOverlay exportOverlay"></div>
                            <content class="quantumWizButtonPaperbuttonContent"><span
                                    class="quantumWizButtonPaperbuttonLabel exportLabel">Tiếp</span></content>
                        </div>
                    </div>
                </div>
                <div class="freebirdFormviewerViewNavigationPasswordWarning">Không bao giờ gửi mật khẩu thông
                    qua Google Biểu mẫu.
                </div>
            </div>
            <input type="hidden" name="fvv" value="1"><input type="hidden" name="draftResponse"
                                                             value="[null,null,&quot;-7376538156226184112&quot;]
"><input type="hidden" name="pageHistory" value="0"><input type="hidden" name="fbzx" value="-7376538156226184112"></div>
    </div>
</form>
